@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}

.header nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header nav ul, li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 15px;
}

.pagina {
    padding: 40px;
}

form {
    width: 60%;
    padding: 30px;
    border: 2px solid blue;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

